# ✅ Ignore logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*



# ✅ Ignore build files
dist/
dist-ssr/
build/

# ✅ Ignore Docker related files
docker-compose.override.yml
.dockerignore

# ✅ Ignore system & editor files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
